{% extends "layouts/base.html" %}
{% set project = "Home" %}
{% block body %}
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Jaden Nguyen's Flask Portfolio</strong></h1>
    </div>
    <h4 class="text-white"><strong>Welcome to Jaden Nguyen's flask website!</strong></h2>
    </div>
    <img src="/static/assets/wave.jpeg">
    <img src="/static/assets/wave.jpeg">
    <img src="/static/assets/wave.jpeg">
    <img src="/static/assets/wave.jpeg">
    <img src="/static/assets/wave.jpeg">
    <img src="/static/assets/wave.jpeg">
    <img src="/static/assets/wave.jpeg">`
    <img src="/static/assets/wave.jpeg">
    <img src="/static/assets/wave.jpeg">
    <img src="/static/assets/wave.jpeg">
    </div>
{% endblock %}